POSTGRES_PASSWORD=monitor
VM_DELETE_KEY=changeme

# openssl rand -hex 32
MONITOR_ENCRYPTION_SECRET=

MONITOR_WEBSITE_URL=http://localhost:3000
MONITOR_PUBLIC_API_URL=http://localhost:8080

# MaxMind GeoIP license
MAXMIND_LICENSE=

WWW_PORT=3000
API_PORT=8080
VICTORIAMETRICS_PORT=8428

MONITOR_API_IMAGE=ghcr.io/realfascinated/monitor-api:latest
MONITOR_WWW_IMAGE=ghcr.io/realfascinated/monitor-www:latest
MONITOR_AGENT_IMAGE=ghcr.io/realfascinated/monitor-agent:latest

# docker compose --profile agent up -d
MONITOR_INGEST_TOKEN=
